@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Shrikhand", cursive;
}

footer {
  padding-top: 5%;
  background-color: #353535;
  color: white;
  padding-left: 5%;
  height: 190px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer div {
  display: inline;
}
footer p {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  width: 90%;
}
footer .fas {
  margin-right: 5px;
}
footer .fa-utensils {
  margin-right: 12px;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  footer {
    padding-top: 10%;
  }
}
@media screen and (min-width: 1025px) {
  footer {
    height: auto;
    font-size: 1.5em;
  }
  footer h3 {
    margin-left: 46%;
  }
  footer .footer__list {
    width: 75%;
    margin-left: 22%;
    display: flex;
    flex-flow: row wrap;
  }
  footer .footer__list div {
    width: 50%;
  }
  footer .footer__list p {
    width: 50%;
  }
}
.logo {
  height: 50px;
  width: 50%;
  margin-left: 25%;
  z-index: 1;
}

.fa-arrow-left {
  font-size: 20px;
  color: #3d3d3d;
  float: right;
  z-index: 2;
  position: relative;
  right: 90%;
  top: 15px;
}

@media screen and (min-width: 1025px) {
  .fa-arrow-left {
    right: 85%;
  }
}
img {
  height: 350px;
  width: 100%;
  position: relative;
}

.menu {
  position: relative;
  bottom: 110px;
  background-color: #ededed;
  border-radius: 40px 40px 0 0;
  padding: 0 10px 0 10px;
  height: 1300px;
  margin-bottom: -35%;
}
.menu__type {
  width: 40px;
  padding-bottom: 5px;
  border-bottom: solid 3px #99E2D0;
  text-transform: uppercase;
  font-weight: normal;
}
.menu .menu__results {
  margin-top: 50px;
}
.menu .btn {
  margin-top: 10%;
  height: 40px;
}
.menu h3 {
  padding-top: 30px;
  margin-left: 10px;
  font-size: 1.5em;
  margin-bottom: -20px;
}
.menu .heart {
  position: relative;
  bottom: 40px;
  right: 25px;
  font-size: 1.5em;
}
.menu .meal {
  display: flex;
  border-radius: 20px;
  background-color: white;
  height: 75px;
  box-shadow: 3px 3px 10px #adadad;
  padding: 0 0 0 20px;
  margin-bottom: 25px;
}
.menu .meal h4 {
  margin-bottom: -10px;
}
.menu .meal__detail {
  font-size: 0.9em;
  width: 80%;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .meal__price {
  padding-top: 5%;
  text-align: end;
  width: 10%;
  padding-right: 10px;
}
.menu .meal__text {
  height: 100%;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .meal__valid {
  float: right;
  display: flex;
  width: 0px;
  border-radius: 0 20px 20px 0;
  padding: 25px 0;
  height: 26px;
  background-color: #99E2D0;
  text-align: center;
  transition: all 0.5s ease;
  color: white;
  overflow: hidden;
}
.menu .meal__valid .fas {
  justify-content: center;
  margin: auto;
  font-size: 1.5em;
}
.menu .meal:hover .fas {
  -webkit-animation: valid-circle 0.5s;
          animation: valid-circle 0.5s;
}
.menu .meal:hover .meal__valid {
  width: 25%;
  transition: all 0.5s ease;
}

#menu-large {
  height: 1400px;
}

@media screen and (min-width: 768px) {
  .menu {
    margin-bottom: -110px;
    height: 1350px;
  }
  .menu .meal__price {
    padding-top: 2%;
  }
}
@media screen and (min-width: 1025px) {
  body > div {
    background-color: #ededed;
  }

  img {
    width: 65%;
    margin-left: 17.5%;
    border-radius: 20px;
    image-rendering: -webkit-optimize-contrast;
  }

  .menu {
    padding: 0;
  }
  .menu .btn {
    margin-top: 2.5%;
  }
  .menu h3 {
    margin-left: 17.5%;
  }
  .menu .heart {
    margin-right: 20%;
  }
  .menu .meal__price {
    padding-top: 2%;
  }
  .menu__results {
    width: 65%;
    margin-left: 17.5%;
  }
}
.btn {
  color: white;
  height: 30px;
  border-radius: 20px;
  margin: auto;
  width: 200px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 3px 10px #adadad;
}
.btn p {
  margin: auto;
  padding-top: 5px;
}
.btn:hover {
  transition-duration: 0.5s;
  box-shadow: 10px 10px 20px #adadad;
  opacity: 0.8;
}

.heart {
  float: right;
  position: relative;
  bottom: 75px;
  right: 15px;
  font-size: 1.5em;
  z-index: 1;
  cursor: pointer;
}
.heart .heart-nocolor {
  position: relative;
  z-index: 1;
  top: 28px;
}
.heart .heart-nocolor:hover {
  background: linear-gradient(#9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}
.heart .heart-nocolor:hover .heart-color {
  transform: scale(1);
  opacity: 1;
}
.heart .heart-nocolor .heart-color {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.menu__results {
  -webkit-animation: slide 2s;
          animation: slide 2s;
}
.menu__results:nth-child(even) {
  -webkit-animation: slide 5s;
          animation: slide 5s;
}
.menu__results:nth-child(3n+2) {
  -webkit-animation: slide 7.5s;
          animation: slide 7.5s;
}

.loader {
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  color: #9356DC;
  font-size: 150px;
  position: fixed;
  background-color: white;
  -webkit-animation: back 3s;
          animation: back 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.loader i {
  margin: auto;
  -webkit-animation: i-spin 1s linear infinite;
          animation: i-spin 1s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slide {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes back {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 0;
    opacity: 1;
  }
  99% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
@keyframes back {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 0;
    opacity: 1;
  }
  99% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes i-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes i-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes valid-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes valid-circle {
  100% {
    transform: rotate(360deg);
  }
}
.localised {
  background-color: #d4d4d4;
  width: 100%;
  height: 45px;
  border-top: solid #bababa;
}
.localised .fas {
  font-size: 20px;
}
.localised input {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: none;
  height: 40px;
  width: 150px;
  background-color: #d4d4d4;
}
.localised input::-moz-placeholder {
  color: black;
}
.localised input:-ms-input-placeholder {
  color: black;
}
.localised input::placeholder {
  color: black;
}

.topic-reserv {
  background-color: #ededed;
  text-align: center;
  height: 300px;
}
.topic-reserv .reserv {
  padding: 10px;
}
.topic-reserv .reserv a {
  text-decoration: none;
}
.topic-reserv h2 {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.topic-reserv p {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: #272727;
}
.topic-reserv .btn {
  color: white;
  height: 30px;
  border-radius: 20px;
  margin: auto;
  width: 200px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
}
.topic-reserv .btn p {
  margin: auto;
  padding-top: 5px;
}
.topic-reserv .btn:hover {
  transition-duration: 0.5s;
  box-shadow: 10px 10px 20px #adadad;
  opacity: 0.8;
}

.topic-operation {
  margin-top: 50px;
  height: 360px;
}
.topic-operation .operation-results {
  background-color: #ededed;
  border-radius: 20px;
  height: 75px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 10px #adadad;
  width: 90%;
  margin-left: 5%;
  cursor: pointer;
}
.topic-operation .operation-results:hover {
  background-color: #f8ecfc;
}
.topic-operation .operation-results:hover i {
  color: #9356DC;
}
.topic-operation .operation-results .number {
  color: white;
  background-color: #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 13px;
  position: relative;
  top: 23px;
  right: 10px;
}
.topic-operation .operation-results .number span {
  position: relative;
  left: 7px;
  top: 3px;
}
.topic-operation .operation-results i {
  color: grey;
  position: relative;
  left: 42px;
  top: 0px;
}
.topic-operation .operation-results p {
  margin-left: 80px;
  font-weight: bold;
  position: relative;
  top: -35px;
}

.topic-restaurant {
  margin: auto;
  background-color: #ededed;
  height: 1250px;
  padding-left: 20px;
  padding-right: 20px;
}
.topic-restaurant h2 {
  padding-top: 50px;
}
.topic-restaurant .restaurant-result {
  height: 175px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 100px;
}
.topic-restaurant .restaurant-result a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 300px;
}
.topic-restaurant .restaurant-result a:active {
  text-decoration: none;
}
.topic-restaurant .restaurant-result .restaurant-newest {
  width: 30%;
  background-color: #99E2D0;
  float: right;
  height: 30px;
  color: #278870;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-right: 10px;
  padding-top: 5px;
  border-radius: 2px;
  position: relative;
  bottom: 75px;
}
.topic-restaurant .restaurant-result .restaurant-footer {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  top: 175px;
  box-shadow: 3px 3px 10px #adadad;
  display: inline-block;
}
.topic-restaurant .restaurant-result .restaurant-footer h2 {
  font-size: 1.25em;
  margin-top: -40px;
  margin-left: 20px;
}
.topic-restaurant .restaurant-result .restaurant-footer p {
  margin-top: -10px;
  margin-left: 20px;
}
.topic-restaurant .img-first {
  background: url(../ressources/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center;
  background-size: 100%;
}
.topic-restaurant .img-second {
  background: url(../ressources/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) no-repeat center;
  background-size: 100%;
}
.topic-restaurant .img-third {
  background: url(../ressources/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) no-repeat center;
  background-size: 100%;
}
.topic-restaurant .img-fourth {
  background: url(../ressources/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) no-repeat center;
  background-size: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .topic-operation {
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
  }
  .topic-operation div {
    display: flex;
    justify-content: space-between;
  }
  .topic-operation .operation-results {
    margin-left: 0px;
    width: 30%;
    height: 5em;
  }
  .topic-operation .operation-results p {
    margin: 0;
    top: 30px;
    right: 60px;
  }
  .topic-operation .operation-results .fas {
    position: relative;
    top: 30px;
    left: -40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 950px) {
  .operation-results {
    margin-left: 0px;
    width: 30%;
    height: 5em;
  }
  .operation-results p {
    margin: 0;
    top: 30px;
    right: 60px;
  }
  .operation-results .fas {
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    top: 30px;
    left: -40px;
  }
}
@media screen and (min-width: 1025px) {
  .topic-operation {
    width: 75%;
    margin-left: 12.5%;
    height: auto;
  }
  .topic-operation div {
    display: flex;
    flex-direction: row;
  }
  .topic-operation h2 {
    text-align: center;
    margin-bottom: 35px;
  }
  .topic-operation .operation-results .number {
    padding: 2px 9px;
  }
  .topic-operation .operation-results .number span {
    left: 0px;
  }
  .topic-operation .operation-results i {
    margin-right: 15%;
    margin-left: 15%;
    left: inherit;
    top: 32px;
  }
  .topic-operation .operation-results p {
    width: 100%;
    top: 15px;
    margin-left: 0;
  }

  .topic-reserv .reserv p {
    width: 100%;
    margin-bottom: 50px;
  }

  .topic-restaurant {
    padding-left: 10%;
    padding-right: 10%;
    height: 725px;
  }
  .topic-restaurant h2 {
    text-align: center;
  }
  .topic-restaurant div {
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .topic-restaurant .restaurant-result {
    width: 40%;
  }
  .topic-restaurant .restaurant-footer {
    margin: 0;
  }
  .topic-restaurant .restaurant-footer h2 {
    text-align: inherit;
  }
}/*# sourceMappingURL=main.css.map */