
@import "./base/font";
@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/menu";
@import "./layout/btn";
@import "./layout/animation";
@import "./layout/keyframes";

.localised{
    background-color: darken($back-color, 10%);
    width: 100%;
    height: 45px;
    border-top: solid darken($back-color, 20%);
    .fas{
        font-size: 20px;
    }
    input{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border: none;
        height: 40px;
        width: 150px;
        background-color: darken($back-color, 10%);    
        &::placeholder{
            color: black;
        }
    }
}

.topic-reserv{
    background-color: $back-color;
    text-align: center;
    height: 300px;
    .reserv{
        padding: 10px;
    }
    h2{
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
    p{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        color: rgb(39, 39, 39);
    }
    .btn{
        @include btn-order;
    }
}

.topic-operation{
    margin-top: 50px;
    height: 360px;
    .operation-results{
        background-color: $back-color;
        border-radius: 20px;
        height: 75px;
        margin-bottom: 20px;
        @include thread-shadow;
        width: 90%;
        margin-left: 5%;
        &:hover{
            background-color: #f8ecfc;
            i{
                color: #9356DC;
            }
        }
        .number{
            color: white;
            background-color: #9356DC;
            height: 25px;
            width: 25px;
            border-radius: 13px;
            position: relative;
            top: 23px;
            right: 10px;
            span{
                position: relative;
                left: 7px;
                top: 3px;
            }
        }
        i{
            color: grey;
            position: relative;
            left: 42px;
            top: 0px;
        }
        p{
            margin-left: 80px;
            font-weight: bold;
            position: relative;
            top: -35px;
        }
    }
}

.topic-restaurant{
    margin: auto;
    background-color: $back-color;
    height: 1250px;
    padding-left: 20px;
    padding-right: 20px;
    h2{
        padding-top: 50px;
    }
    .restaurant-result{
        height: 175px;
        width: 100%;
        background-color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 100px;
        a{
        text-decoration: none;
        color: black;
        &:active{
            text-decoration: none;
            }
        }
        .restaurant-newest{
            width: 30%;
            background-color: #99E2D0;
            float: right;
            height: 30px;
            color: darken(#99E2D0, 40%);
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            margin-right: 10px;
            padding-top: 5px;
            border-radius: 2px;
            position: relative;
            bottom: 75px;
        }
        .restaurant-over{
            background-color: white;
            height: 70px;
            width: 100%;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            position: relative;
            top: 175px;
            @include thread-shadow;
            display: inline-block;
            h2{
                font-size: 1.25em;
                margin-top: -40px;
                margin-left: 20px;
            }
            p{
                margin-top: -10px;
                margin-left: 20px;
            }
        }
    }
    .img-first{
        background: url(../ressources/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center;
        background-size: 100%;}
    .img-second{
        background: url(../ressources/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) no-repeat center;
        background-size: 100%;}
    .img-third{
        background: url(../ressources/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) no-repeat center; 
        background-size: 100%;}
    .img-fourth{
        background: url(../ressources/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) no-repeat center;
        background-size: 100%;}
}
