footer{
    padding-top: 5%;
    background-color: rgb(53, 53, 53);
    color: white;
    padding-left: 5%;
    height: 190px;
    a{
        text-decoration: none;
        color: white;
    }
    div{
        display: inline;
    }
    p{
        display: inline-block;
        margin: 0;
        margin-bottom: 10px;
        width: 90%;
    }
    .fas{
        margin-right: 5px;
    }
    .fa-utensils{
        margin-right: 12px;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px){
    footer{
        padding-top: 10%;
    }
}

@media screen and (min-width: 1025px){
    footer{
        height: auto;
        font-size: 1.5em;
        h3{
            margin-left: 46%;
        }
        .footer__list{
            width: 75%;
            margin-left: 22%;
            display: flex;
            flex-flow: row wrap;
            div{
                width: 50%;
            }
            p{
                width: 50%;
            }
        }
        
}
}