.logo{
    height: 50px;
    width: 50%;
    margin-left: 25%;
    z-index: 1;
}

.fa-arrow-left{
    font-size: 20px;
    color: rgb(61, 61, 61);
    float: right;
    z-index: 2;
    position: relative;
    right: 90%;
    top: 15px;
}