.img{
    &-top1{
        background: url(/ressources/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }
    &-top2{
        background: url(/ressources/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    }
    &-top3{
        background: url(/ressources/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    }
    &-top4{
        background: url(/ressources/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    }
}

.img-top1, .img-top2, .img-top3, .img-top4{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 200px;
        margin-bottom: -75px;
}

.menu{
    background-color: $back-color;
    border-radius: 40px 40px 0 0;
    padding: 0 10px 0 10px;
    height: 1300px;
    &__type{
        width: 40px;
        padding-bottom: 5px;
        border-bottom: solid 3px $tertiary-color;
        text-transform: uppercase;
        font-weight: normal;
    }
    .menu__results{
        margin-top: 50px;
    }
    .btn{
        margin-top: 10%;
        height: 40px;
    }
    h3{
        padding-top: 30px;
        margin-left: 10px;
        font-size: 1.5em;
        margin-bottom: -20px;
    }
    .heart{
        position: relative;
        bottom: 40px;
        right: 25px;
        font-size: 1.5em;
    }
    .meal{
        display: flex;
        border-radius: 20px;
        background-color: white;
        height: 75px;
        @include thread-shadow;
        padding: 0 0 0 20px;
        margin-bottom: 25px;
        h4{
            margin-bottom: -10px;
        }
        &__detail{
            font-size: 0.9em;
            width: 80%;
            height: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__price{
            padding-top: 5%;
            text-align: end;
            width: 10%;
            padding-right: 10px;
        }
        &__text{
            height: 100%;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

#menu-large{
    height: 1420px;
}

@media screen and (min-width: 768px){
    .menu{
        height: 1350px;
        .meal__price{
            padding-top: 2%;
        }       
    }
}

@media screen and (min-width: 1025px){

    .img-top1, .img-top2, .img-top3, .img-top4{
        border-radius: 20px 20px 0 0;
        height: 350px;
    }

    body > div{
        background-color: $back-color;
    }
    .menu{
        padding: 0;
        .btn{
            margin-top: 2.5%;
        }
        h3{
            margin-left: 17.5%;
        }
        .heart{
            margin-right: 20%;
        }
        .meal__price{
            padding-top: 2%;
        }
        &__results{
            width: 65%;
            margin-left: 17.5%;
        }
    }
}
