@mixin thread-shadow{ 
    box-shadow: 3px 3px 10px rgb(173, 173, 173);
    }

@mixin btn-order{
    color: white;
    height: 30px;
    border-radius: 20px;
    margin: auto;
    width: 200px;
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    p{
      margin: auto;
      padding-top: 5px;
    }
    &:hover{
      transition-duration: .5s;
      box-shadow: 10px 10px 20px rgb(173, 173, 173);
      opacity: 0.8;
    }
}